{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid p-0 home-img">
    <div class="img-button">
        <a href="{% url 'products' %}" class="btn btn-outline-light"><strong>Click to Shop</strong></a>
    </div>
</div>

<div class="container-fluid about-container p-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="about-heading">About</h2>
            <hr>
        </div>
    </div>


    <div class="row  d-flex justify-content-center">
        <h4 class="offset-3">Our Story</h4>
        <div class="col-9 d-flex justify-content-center ">
            <p>Energy Gym was founded in 2021 and is a family run gym. We didn't want to be another gym that people join
                on January 1st and then forget about it a week later.
                We wanted Energy Gym to be a place where our members feel comfortable and empowered to work at their own
                pace to achieve their own personal goals.
                Since opening our doors on March 13th of 2021, we have 86 regular members. We want to keep our gym
                feeling like a community where everyone can get to
                know everyone.
            </p>
        </div>
        <h4 class="offset-3">What we do</h4>
        <div class="col-9 d-flex justify-content-center">

            <p>We want to help you live a fit and healthy lifestyle! We do this by helping you find the most suitable
                program, keeping your budget, lifestyle and fitness goals in mind.
                We offer a wide range of membership options, with class bundles as an option too. Our class timetable
                will be added to our site soon so stay tuned! But for now,
                feel free to pop in to say hello and we will give you a run through of everything we offer. Our awesome
                team is always keen to help, so please call us to discuss your needs.
            </p>
        </div>
    </div>
    <hr>
    <h2 class="text-center">Our Core Values</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-10 offset-1 col-lg-3 offset-sm-1 text-center values-content">
            <i class="fas fa-comments fa-7x values-icon"></i><br>
            <h4>Communication</h4><br>
            <p>We believe open, honest and supportive communication is the foundation of any successful business</p>
        </div>
        <div class="col-10 offset-1 col-lg-3 text-center values-content">
            <i class="fas fa-hands-helping fa-7x values-icon"></i><br>
            <h4>Teamwork</h4><br>
            <p>We think working out together as a team pushes us to our max limits and can help you achieve your goals
                faster</p>
        </div>
        <div class="col-10 offset-1 col-lg-3 text-center values-content">
            <i class="fas fa-smile-beam fa-7x values-icon"></i><br>
            <h4>Good Attitude</h4><br>
            <p>We always show up with with a positive can-do attitude and so do all our members. We always work hard and
                enjoy our sessions</p>
        </div>

    </div>


</div>


{% endblock %}