{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid" h-100>
    <video class="home-video embed-responsive-item" autoplay loop="true">
        <source src="media/gym_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-button">
        <button type="button" class="btn btn-outline-light"><strong>Sign Up Here</strong></button>
    </div>
</div>
{% endblock %}