{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container-fluid p-0 home-img">
    <div class="img-button">
        <a href="{% url 'products' %}" type="button" class="btn btn-outline-light"><strong>Click to Shop</strong></a>
    </div>
</div>

<div class="container-fluid about-container ">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="about-heading">About</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center ">
            <h4>Hello</h4>
        </div>
        <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
            <h4>Hello</h4>
        </div>
    </div>
</div>


{% endblock %}