html {
    height: 100%;
}

body {
    background: url('/media/gym_video.mp4') no-repeat center center fixed;
    background-size: cover;
}

/* Media Queries */
@media (min-width: 1200px){
    .container {
        max-width: 85%;
    }
}

