/* Media Queries */
@media (max-width: 768px){
    .home-img {
        background: url('/media/hero_image_mobile.jpg') no-repeat center center;
        background-size: contain;
        padding: 0;
        height: 73vh;
    }
    .img-button{
        position: absolute;
        left: 33%;
        top: 15%;
    }
    .contact-image{
        display: none;
    }
    .bag-image,
    .bag-image-heading{
        display: none;
    }
    .shopping-bag-btn{
        margin-bottom: 2px;
    }
}
