{% extends 'base.html' %}
{% block content %}
<!-- Error 500 Page Content-->

    <div class="container error-container heading-container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="card-panel center-align">
                    <h3 class="center-align">Error 500</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="center-align">Page Not Found!</h3>
                    <p>Oops! Looks like something went wrong. Please click 
                    <a href="{% url 'home' %}" class="btn error-btn">here</a>
                    to be returned to the home page
                </p>
                </div>
            </div>
                
                
        </div>
    </div>
 

{% endblock %}