{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h2 class="logo-font mb-4 heading-container">Contact Us</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'contact_form' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'contact_form' %}">Cancel</a>
                        <button class="btn btn-dark rounded-0" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 contact-image-content">
                <img src="{{ MEDIA_URL }}contact_img.jpg" alt="woman doing side plank" class="img-thumbnail contact-image">
            </div>                        
        </div>
    </div>
{% endblock %}